<nav class="navbar navbar-default navbar-fixed-top">
  <div class ="container-fluid">
    <ul>
      <li role="presentation"><%= link_to 'Home',"/"%></li>
    <% if logged_in? %>
    <li role="presentation" class="active"><%= link_to 'Log out', logout_path, method: :delete %></li>
    <% else %>
    <li role="presentation"><%= link_to 'Log in', login_path %></li>
    <li><%= link_to 'Sign up', signup_path %></li>
    <% end %>
    <li role="presentation"><%= link_to 'Cart', '/orders', method: :get %></li>
    </ul>
  </div>
</nav>
