<div class = "container">
<div class="jumbotron">
<h2>Welcome to your cart!</h2>
<p class="lead">
</div>
<div class="container">
<%order_total = 0%>
  <% if @orders%>
    <% @orders.each do |order|%>
    <div class ="row">
    <div class = "col-md-2">
    <img class="order-image" src="<%= order.image%>" alt="Jewish thing">
    </div>
    <div class = "col-md-4">
      <h3><%=order.items%></h3>
      <h4>$<%=order.amount%></h4>
    </div>
    <div class = "col-md-1">
    <h3><%=order.quantity%></h3>
    </div>
    <div class = "col-md-1">
    <%= button_to '+', '/orders/increase/'+(order.id.to_s), :method => "put", :class=>"add-btn"%>
    <%= button_to '-', '/orders/decrease/'+(order.id.to_s), :method => "put",:class=>"minus-btn"%>
    </div>
    <div class = "col-md-4 text-right">
    <%= button_to 'X','/orders', :method => "delete", params: {:id => order.id},:class=>"remove-btn"%>
  </div>
</div>
<hr />
    <%order_total += (order.amount * order.quantity)%>
    <%end%>
  <br />
  <div class = "row total text-right">
<%if(order_total!=0)%>
  <h3>Order Total: <%=order_total%></h3>
  <%payment = order_total * 100%>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_7etxO4HRzvdlr0m2fbk7V76e"
          data-description= 'placeholder'
          data-amount= <%=payment%>
          data-locale="auto"></script>
  </div>
<% else %>
<h2>Youre cart is empty, Please continue browsing our selection!</h2>
<%=button_to('Return to Store',{route: '/charges/new', controller: 'charges'}, class:'btn')%>
<%end%>
<%end%>
<br />
</div>
</div>
