

  <div class="container">
    <br /><br /><br />
    <div class = "row">
      <div class="col-md-9">
        <img class="home-banner" src="http://i.imgur.com/uJcT0By.jpg" alt="Studio logo">
      </div>
      <div class="col-md-3">
        <br /><br /><br /><br />
        <h3 class="intro">Judaica art for all occasions. Remember, Celebrate, and Reflect</h3>
      </div>
    </div>

  </div>
    <div class = "row nouns-cont">
      <br />
      <div class="col-xs-4 text-center nouns">
        <img class=" noun" src="http://i.imgur.com/dpDATZN.png" alt="Torah">
        <p>Historically accurate pieces of Jewish history represented in beautiful jewish ritual items.
           </p>
      </div>
      <div class="col-xs-4 text-center nouns">
        <img class=" noun" src="http://i.imgur.com/06CP0cG.png" alt="Jewish star">
        <p> Bring the family together for the important moments in life. Keep traditions strong for the generations to come</p>
      </div>
      <div class="col-xs-4 text-center nouns">
        <img class=" noun" src="http://i.imgur.com/9qpd2QZ.png" alt="Pencil and ruler">
        <p>Everything you see in our store is crafted by hand in our studio in Las Vegas.
          Materials bought only from the USA and Israel</p>
      </div>
      <br /><br />
    </div>
    <br /><br />
    <div class="container">
    <div class = "row">
      <%@products.take(3).each do |product|%>
      <span><div class="card col-xs-4 boxes" style="width: 30rem;">
      <%=link_to '/charges/show/'+(product.id.to_s) do %>
        <img class="card-img-top store-pic" src="<%= product.image%>" alt="Jewish thing">
        <div class="card-block">
          <h3 class="card-title"><%= product.title %></h3>
          <h4 class="card-text">$<%= product.price %></h4>
          <h4 class="card-text"><%= product.messages.length%> Reviews</h4>
        </div></span>
      </div>
        <%end%>
        <%end%>
    </div>
    <br />
    <div class ="row">
    <div class="col-md-12 text-center">
      <%=button_to('See More',{route: '/charges/new', controller: 'charges'}, class:'btn')%>
    </div>
    <br /><br /><br />
  </div>
  </div>
