
  <div class="container-fluid">
  <div class = "row">
    <img class="menorah-banner" src="http://i.imgur.com/ULBhpgr.png" alt="Menorah banner">
  </div>
  <div class="row">
    <h1 class = "shop-words">Shop</h1>
    <h3 class = "shop-small">Sign up above for added features</h3>
  </div>

</div>
  <div class = "container text-center">
  <div class = "row">
    <%@products.each do |product|%>
    <span><div class="card col-xs-4 boxes" style="width: 30rem; margin:40px">
    <%=link_to '/charges/show/'+(product.id.to_s) do %>
      <img class="card-img-top store-pic" src="<%= product.image%>" alt="Jewish thing">
      <div class="card-block">
        <h3 class="card-title"><%= product.title %></h3>
        <h4 class="card-text">$<%= product.price %></h4>
        <h4 class="card-text">
          <% if(product.messages.length == 1) %>
          <%= product.messages.length %>  Review</h4>
          <%else%>
          <%= product.messages.length %>  Reviews</h4>
          <%end%>
      </div></span>
    </div>
      <%end%>
      <%end%>
  </div>
  <br />
  </div>
