<div class ="container">
  <br /><br /><br />

  <div class="row">
<div class = "show-info col-md-6 " >
    <h2> <%= @product.title%></h2>
    <h4 class = "review-link"><%=link_to @product.messages.length.to_s+' reviews','#review-anch'%></h4>
    <hr />
    <h4> <%= @product.description.gsub(/\n/, '<br />').html_safe%></h4>
    <hr />
    <h4><%= @product.materials.gsub(/\n/, '<br />').html_safe%></h4>
    <h4>Size: <%= @product.size%></h4>
  <div class="row">
      <div class = "col-md-6">
      <h3>$<%= @product.price%></h3>
      </div>
    <div class = "col-md-6">
      <%= button_to 'Add to Cart', '/orders', :controller => "orders", :method => "post", params: {:id => @product.id}, class: 'btn'%>
    </div>
  </div>
</div>
<div class = "col-md-6">
<img class="show-pic" src="<%= @product.image%>" alt="Jewish thing" style="height:100%;width:100%">
</div>
</div>
<hr />
</div>
<div class = "container-fluid" id="review-anch">
<div class = "row review-box"  style="margin:20px">
  <h1 class = "text-center">--Reviews--</h1>
  <%if(logged_in?)%>
  <%= form_for(@message) do |f| %>
  <div class="field text-center">
    <p><%= f.text_area :content, placeholder: "Write a review for the "+ @product.title, :cols => "100", :rows=>"3"%>
      <%= hidden_field_tag(:product_title, @product.title.to_s)%>
    <%= f.submit "Submit",:controller=>'messages', :class => 'review-btn'%></p>
  </div>
  <%end%>
  <%else%>
  <h3 class="text-center">Sign up for an account so you write a review too!</h3>
  <% end %>
  <%if(@reviews.exists?)%>
    <div class ="review-comments">
    <%@reviews.each do |review|%>
    <hr />
    <h4><%=review.content%></h4>
    <h5>By: <%= --review.user.username%> on <%= review.created_at.strftime("%d %b. %Y")%></h5>
        <%if (logged_in? && current_user.username == review.user.username)%>
        <p class = "trash-link"><%=link_to "/messages/destroy/"+(review.id.to_s) do%>
          <span class="cart glyphicon glyphicon-trash"</span>
        <%end%></p>
        <%end%>
    <hr />
    <%end%>
  <%else%>
  <h4 class="text-center"> No reviews yet,be the first!</h4>
  <%end%>
</div>
</div>
<br />
</div>
