
  <div class="container-fluid">
  <div class = "row">
    <img class="menorah-banner" src="http://i.imgur.com/ULBhpgr.png" alt="Menorah banner">
  </div>
  <div class="row">
    <h1 class = "shop-words">Shop</h1>
  </div>

</div>
  <div class = "container">
  <div class = "row">
    <%@products.each do |product|%>
    <span><div class="card col-md-4 boxes" style="width: 30rem;">
    <%=link_to '/charges/show/'+(product.id.to_s) do %>
      <img class="card-img-top store-pic" src="<%= product.image%>" alt="Jewish thing">
      <div class="card-block">
        <h3 class="card-title"><%= product.title %></h3>
        <h4 class="card-text">$<%= product.price %></h4>
        <h4 class="card-text"><%= product.messages.length%> Reviews</h4>
      </div></span>
    </div>
      <%end%>
      <%end%>
  </div>
  </div>
